<h3>Adicionar nova peça</h3>
<p ng-show="ItensPecas.cadastrado">
  {{ ItensPecas.cadastrado.id }} <br>
  {{ ItensPecas.cadastrado.descricao }} <br>
  {{ ItensPecas.cadastrado.idPecas }} <br>
  {{ ItensPecas.cadastrado.preco }} <br>
  {{ ItensPecas.cadastrado.qtd }} <br>
  {{ ItensPecas.cadastrado.total }} <br>
</p>
<p class="alert alert-info" ng-show="mensagem.length">{{ ItensPecas.erro }}</p>
<form name="ItensPecas.itensPecasForm" class="form-horizontal" novalidate>

    <input type="hidden" data-ng-model="ItensPecas.form.idPecas" ng-init="ItensPecas.form.idPecas = ItensPecas.idPecas">

    <div class="form-group">
        <label class="col-sm-2 control-label" for="descricao">Descrição:</label>
        <div class="col-sm-5">
            <input type="text" name="descricao" id="descricao" data-ng-model="ItensPecas.form.descricao" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="preco">Preço:</label>
        <div class="col-sm-5">
            <input type="number" name="preco" id="preco" data-ng-model="ItensPecas.form.preco" class="form-control" data-ng-init="ItensPecas.form.preco=0">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="qtd">Quant.:</label>
        <div class="col-sm-5">
            <input type="text" name="qtd" id="qtd" data-ng-model="ItensPecas.form.qtd" required class="form-control"  data-ng-init="ItensPecas.form.qtd=0">
        </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button ng-click='ItensPecas.submitForm(ItensPecas.form)' data-ng-disabled="ItensPecas.editing || ItensPecas.form.name.$pristine" class="btn btn-large green waves-effect waves-light col s12" type="submit" name="action">CREATE</button>
        <a href="#/itenspecas" class="btn btn-default">Voltar</a>
      </div>
    </div>

</form>