<h3>Editar Peças</h3>
<p class="alert alert-info" ng-show="mensagem.length">{{ PecasEditar.erro }}</p>

<form class="form-horizontal">

    <input type="hidden" data-ng-model="PecasEditar.form.id">

    <div class="form-group">
        <label class="col-sm-2 control-label" for="data">Data:</label>
        <div class="col-sm-5">
            <input type="date" name="data" data-ng-model="PecasEditar.form.data" required class="form-control">
        </div>
    </div>

    <div class="form-group">
          <label class="col-sm-2 control-label" for="veiculo">Veículo:</label>
            <div class="col-sm-5">
                <select data-ng-model="PecasEditar.form.veiculo" data-ng-options="pecas.nome for pecas in PecasEditar.tipoPecas"  class="form-control">
                </select>
            </div>
        </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="troca">Troca:</label>
        <div class="col-sm-5">
            <input type="number" name="troca" id="troca" ng-model="PecasEditar.form.troca" required="required" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="proxtroca">Próx. Troca:</label>
        <div class="col-sm-5">
            <input type="number" name="proxtroca" id="proxtroca" ng-model="PecasEditar.form.proxtroca" required="required" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="local">Local:</label>
        <div class="col-sm-5">
            <input type="text" name="local" id="local" ng-model="PecasEditar.form.local" required="required" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="comercio">Comércio:</label>
        <div class="col-sm-5">
            <input type="text" name="comercio" id="comercio" ng-model="PecasEditar.form.comercio" required="required" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button ng-click='PecasEditar.submitForm(PecasEditar.form)' data-ng-disabled="PecasEditar.editing || PecasEditar.form.local.$pristine" type="submit" class="btn btn-primary btn-large">Salvar</button>
            <a href="#/pecas" class="btn btn-default">Voltar</a>
        </div>
    </div>
</form>
<script>
        $('#comercio').typeahead({
                source:  function (query, process) {
                return $.get('data/comercio.php', { query: query }, function (data) {
                        data = $.parseJSON(data);
                        return process(data);
                    });
                }
            });
</script>