<h2>Listagem do Trampo</h2>
<a href="#/trampo/novo/" class="btn btn-danger fa fa-plus">&nbsp;Adicionar Novo Trampo</a>
<div class="table-responsive">
  <div class="panel panel-primary">
    <div class="panel-heading">Lista de {{Trampo.titulo}}
      <div class="sw-search" >
          <div class="nav-search" id="nav-search">
              <input placeholder="O que você está procurando?" class="nav-search-input" ng-model="searchTrampo" ng-change="resetLimit();"  autocomplete="off" type="text" style="width:300px;" focus>
          </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-condensed">
          <thead>
            <tr>
              <th>NRO_OS</th>
              <th>Data</th>
              <th>EC</th>
              <th>Conclusão</th>
              <!-- <th>OBS</th> -->
              <th>Valor</th>
              <th></th>
              <!-- <th></th> -->
            </tr>
          </thead>
          <tr ng-show="Trampo.registros.length==0"><td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;Nenhum dado encontrado</td></tr>
          <tr ng-hide="Trampo.registros.length>-1"><td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Carregando...</td></tr>

          <tbody>
          <tr dir-paginate="c in Trampo.registros | filter:searchTrampo | orderBy:'-id' | itemsPerPage:10" id="{{c.id}}" animate-on-change='c.nroos + c.data + c.ec + c.conclusao + c.obs + c.valor' ng-animate="'animate'">
            <td>{{c.nroos}}</td>
            <td>{{c.data | date:'dd/MM/yyyy'}}</td>
            <td><a href="#/trampo/editar/{{c.id}}">{{c.ec}}</a></td>
            <td>{{c.conclusao}}</td>
            <!-- <td>{{c.obs}}</td> -->
            <td>{{c.valor | currency:'R$ '}}</td>
            <td>
                <div class="btn-group btn-group-xs">
                  <button type="submit" data-ng-click="Trampo.remove(c)"><i class="fa fa-trash-o btn btn-danger btn-xs"></i></button>
                </div>
            </td>
          </tr>
          </tbody>
        </table>
        <dir-pagination-controls max-size="5" boundary-links="true"></dir-pagination-controls>
      </div>
    </div>
  </div>
</div>
