<h3>Editar Trampo</h3>
<p class="alert alert-info" ng-show="mensagem.length">{{TrampoEditar.erro}}</p>

<form name="TrampoEditar.trampoForm" class="form-horizontal" novalidate>

    <input type="hidden" data-ng-model="TrampoEditar.form.id">

    <div class="form-group">
        <label class="col-sm-2 control-label" for="nroos">NRO_OS:</label>
        <div class="col-sm-5">
            <input type="number" id="nroos" class="form-control" ng-model="TrampoEditar.form.nroos" focus required />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="data">Data:</label>
        <div class="col-sm-5">
            <input type="date" ng-model="TrampoEditar.form.data" class="form-control" required>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="conclusao">Conclusão:</label>
        <div class="col-sm-5">
            <select data-ng-model="TrampoEditar.form.conclusao"
                    ng-options="trampoEditar.nome as trampoEditar.conclusao for trampoEditar in TrampoEditar.tipoTrampo"
                    class="form-control">
                <option value="">{{TrampoEditar.form.conclusao}}</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="ec">EC:</label>
        <div class="col-sm-5">
            <input type="text" name="ec" id="ec" ng-model="TrampoEditar.form.ec" required class="form-control" ng-minlength="3">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="obs">Obs:</label>
        <div class="col-sm-5">
            <textarea rows="3" name="obs" id="obs" ng-model="TrampoEditar.form.obs" class="form-control"></textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button ng-click="TrampoEditar.submitForm(TrampoEditar.form)"
                  data-ng-disabled="TrampoEditar.editing || TrampoEditar.form.nroos.$pristine"
                  class="btn btn-primary btn-large" type="submit">Atualizar</button>
          <a href="#/trampo" class="btn btn-default">Voltar</a>
        </div>
    </div>
</form>